* {
    font-family: "Poppins", "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*:not(h1, h2, h3, h4, h5, h6) {
    font-size: 24px;
}

.title {
    margin: 2.5% 2.5% 0% 2.5%;
    background-color: rgb(232, 169, 179);
    font-size: 40px;
    padding: 10px;    
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 30%;
    display: flex;
}

main {
    min-width:fit-content;
    margin: 2.5% 2.5% 0% 2.5%;
    padding:10px;
    background-color: pink;
}
article {
    min-width:fit-content;
    margin-top: 1%;
    background-color: rgb(232, 169, 179);
    border-radius: 16px;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding: 12px;
}

.image-grid {
   display:grid; 
   grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); 
   gap:12px; 
   margin-top:12px;
   padding: 0px 12px 0px 12px;
}

.images {
    transition: transform 0.1s ease;
    width:100%; 
    height:auto; 
    display:block; 
    border-radius:12px;
}

.images:hover {
    transform: scale(0.98);
    display:block; 
    border-radius:12px;
}

.image-and-text {
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 20px; 
    align-items: center;
}

hr {
    border-style: none;
    border-color: rgb(232, 169, 179); 
    border-radius: 3px;
    height: 5px; 
    background-color: rgb(232, 169, 179);
}

li {
    text-align: left;
}

.contact-us {
    list-style-type:square;

}