/*  
    #0041C7
    Page Background: #0160C9
    Inner Background: #0D85D8
    #1CA3DE
    #3ACBE8
    Text: #0C243D
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    color:#0C243D;
    background-color: #0D85D8;

}

html {
    /* margin:0px; */
    background-color:#0160C9;
    padding-top:0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#0160C9;
    margin:0;
    padding:0;
    position:fixed;
    width:100%;
}

.body {
    background-color:#0160C9;
    padding:15px;
}

.topBar {
    background-color: #0041C7;
    height:50px;
    min-width:100%;
}

.topBar * {
    background-color: #0041C7;
    margin-block-start: 0;
    margin-block-end: 0;
}

.topBar li {
    float:right;
    height:100%;
    width: 50%;
    align-content: center;
    text-align: center;
}

.topBar li * {
    background-color:inherit;
    color:inherit;
}

.topBar li:hover {
    background-color: #0C243D;
    color:white !important;
}

.topBar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    height:100%;
    float:right;
    min-width:100px;
    width:30%;
}


header {
    border-style: solid;
    border-color: #0D85D8;
    border-radius:25px;
    text-align: center;
    width: 100%;
}

main {
    background-color: #0C243D;
    margin-top:10px;
    border-radius: 25px;
    text-align: center;
    align-self: center;
    padding: 10px;
    align-items: center;
    width:100%;
    display:flex;
    flex-direction: column;
}

article {
    padding: 10px 0px;
    width:fit-content;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 15px;
}

.header {
    padding:5px;
}

li {
    text-align: left;
}