.title {
    margin: 2.5% 2.5% 0% 2.5%;
    background-color: rgb(232, 169, 179);
    font-size: 40px;
    padding: 10px;    
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 30%;
    display: flex;
}

main {
    margin: 2.5% 2.5% 0% 2.5%;
    background-color: rgb(232, 169, 179);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.images {
    width:100%; 
    height:auto; 
    display:block; 
    border-radius:6px;
}

hr {
    border-style: none;
    border-color: rgb(232, 169, 179); 
    border-radius: 3px;
    height: 5px; 
    background-color: rgb(232, 169, 179);
}

p, li {
    font-size: 24px;
}

li {
    text-align: left;
}